<launch>
	<node pkg="k-sap_pkg" type="node.py" name="node_1" output="screen">
		<param name="position" value="['3.45156181106','80.8825980975','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_7,/node_6,/node_5,/node_4,/node_3,/node_11"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_2" output="screen">
		<param name="position" value="['3.80520456867','99.7023112387','0']"/>
		<param name="neighbour_nodes_list" value="/node_14,/node_9,/node_8,/node_7,/node_4,/node_10,/node_17"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_3" output="screen">
		<param name="position" value="['6.80180721702','82.3236080967','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_7,/node_6,/node_5,/node_4,/node_12,/node_1,/node_10,/node_11"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_4" output="screen">
		<param name="position" value="['9.95726727472','84.7673746955','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_8,/node_7,/node_6,/node_5,/node_14,/node_3,/node_2,/node_1,/node_10,/node_17,/node_16,/node_12"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_5" output="screen">
		<param name="position" value="['4.20543809998','69.5580944981','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_7,/node_6,/node_4,/node_3,/node_1,/node_11"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_6" output="screen">
		<param name="position" value="['18.2439432619','76.5850800015','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_5,/node_4,/node_3,/node_12,/node_1,/node_10,/node_26,/node_11"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_7" output="screen">
		<param name="position" value="['1.65336327187','82.8183761502','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_5,/node_4,/node_3,/node_2,/node_1"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_8" output="screen">
		<param name="position" value="['17.3221259811','96.2734334131','0']"/>
		<param name="neighbour_nodes_list" value="/node_14,/node_17,/node_16,/node_4,/node_12,/node_2,/node_10,/node_28"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_9" output="screen">
		<param name="position" value="['4.23097814681','83.9712401911','0']"/>
		<param name="neighbour_nodes_list" value="/node_7,/node_6,/node_5,/node_4,/node_3,/node_2,/node_1,/node_10"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_10" output="screen">
		<param name="position" value="['17.5509774275','91.9822404559','0']"/>
		<param name="neighbour_nodes_list" value="/node_14,/node_9,/node_8,/node_17,/node_6,/node_4,/node_3,/node_2,/node_12,/node_16,/node_28"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_11" output="screen">
		<param name="position" value="['12.0886000081','67.507574559','0']"/>
		<param name="neighbour_nodes_list" value="/node_6,/node_5,/node_3,/node_1"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_12" output="screen">
		<param name="position" value="['21.6007293978','89.9482141131','0']"/>
		<param name="neighbour_nodes_list" value="/node_14,/node_3,/node_8,/node_17,/node_6,/node_15,/node_4,/node_13,/node_10,/node_16,/node_28"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_13" output="screen">
		<param name="position" value="['34.9969937443','96.3208411918','0']"/>
		<param name="neighbour_nodes_list" value="/node_17,/node_16,/node_15,/node_12,/node_24,/node_28"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_14" output="screen">
		<param name="position" value="['17.3532707558','99.659990595','0']"/>
		<param name="neighbour_nodes_list" value="/node_2,/node_8,/node_17,/node_16,/node_4,/node_12,/node_10"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_15" output="screen">
		<param name="position" value="['35.5149274201','88.7137512868','0']"/>
		<param name="neighbour_nodes_list" value="/node_18,/node_16,/node_13,/node_12,/node_24,/node_28"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_16" output="screen">
		<param name="position" value="['23.9245992735','93.7296337827','0']"/>
		<param name="neighbour_nodes_list" value="/node_14,/node_8,/node_17,/node_15,/node_4,/node_13,/node_12,/node_10,/node_28"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_17" output="screen">
		<param name="position" value="['19.892740208','96.7101609838','0']"/>
		<param name="neighbour_nodes_list" value="/node_2,/node_14,/node_8,/node_16,/node_4,/node_13,/node_12,/node_10,/node_28"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_18" output="screen">
		<param name="position" value="['45.0781773525','76.7268685752','0']"/>
		<param name="neighbour_nodes_list" value="/node_26,/node_15,/node_33"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_19" output="screen">
		<param name="position" value="['53.9240176409','59.1661580316','0']"/>
		<param name="neighbour_nodes_list" value="/node_27,/node_33,/node_32,/node_35,/node_29"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_20" output="screen">
		<param name="position" value="['51.2877383509','41.4580294365','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_30,/node_35,/node_36,/node_27,/node_22,/node_23,/node_21,/node_29"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_21" output="screen">
		<param name="position" value="['39.5160797878','40.0015315797','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_30,/node_25,/node_22,/node_23,/node_20,/node_29"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_22" output="screen">
		<param name="position" value="['43.9763542885','35.0541227023','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_30,/node_25,/node_23,/node_20,/node_21"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_23" output="screen">
		<param name="position" value="['40.2268796408','46.5170691965','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_29,/node_22,/node_20,/node_21"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_24" output="screen">
		<param name="position" value="['46.0083472975','95.0366451413','0']"/>
		<param name="neighbour_nodes_list" value="/node_15,/node_13,/node_28"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_25" output="screen">
		<param name="position" value="['34.6299673052','28.7546686601','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_30,/node_22,/node_21"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_26" output="screen">
		<param name="position" value="['29.5047610532','71.9946728441','0']"/>
		<param name="neighbour_nodes_list" value="/node_6,/node_18"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_27" output="screen">
		<param name="position" value="['57.0250794899','51.4572448175','0']"/>
		<param name="neighbour_nodes_list" value="/node_19,/node_32,/node_35,/node_36,/node_20,/node_29"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_28" output="screen">
		<param name="position" value="['34.4507666393','95.3064501137','0']"/>
		<param name="neighbour_nodes_list" value="/node_8,/node_17,/node_16,/node_15,/node_13,/node_12,/node_10,/node_24"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_29" output="screen">
		<param name="position" value="['40.4123395824','52.4014843866','0']"/>
		<param name="neighbour_nodes_list" value="/node_27,/node_23,/node_20,/node_19,/node_21"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_30" output="screen">
		<param name="position" value="['50.3011207266','31.4840768858','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_35,/node_25,/node_22,/node_20,/node_21"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_31" output="screen">
		<param name="position" value="['48.5746159372','32.639938939','0']"/>
		<param name="neighbour_nodes_list" value="/node_30,/node_35,/node_25,/node_22,/node_23,/node_20,/node_21"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_32" output="screen">
		<param name="position" value="['67.5860509561','55.9099019103','0']"/>
		<param name="neighbour_nodes_list" value="/node_27,/node_35,/node_45,/node_19,/node_36"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_33" output="screen">
		<param name="position" value="['55.6986855333','70.4165298769','0']"/>
		<param name="neighbour_nodes_list" value="/node_19,/node_18"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_34" output="screen">
		<param name="position" value="['78.9644538377','41.4358772618','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_37,/node_36,/node_41,/node_44,/node_45"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_35" output="screen">
		<param name="position" value="['59.9462680054','43.5625714746','0']"/>
		<param name="neighbour_nodes_list" value="/node_19,/node_31,/node_30,/node_32,/node_36,/node_27,/node_20"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_36" output="screen">
		<param name="position" value="['66.8693903131','42.6041627062','0']"/>
		<param name="neighbour_nodes_list" value="/node_41,/node_32,/node_35,/node_34,/node_27,/node_20"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_37" output="screen">
		<param name="position" value="['90.60735817','46.0980137847','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_38,/node_34,/node_40,/node_41,/node_42,/node_44,/node_45,/node_46"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_38" output="screen">
		<param name="position" value="['81.0721857454','31.6605323118','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_41,/node_34,/node_37,/node_46"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_39" output="screen">
		<param name="position" value="['98.2315508801','30.6263210655','0']"/>
		<param name="neighbour_nodes_list" value="/node_40,/node_38,/node_44,/node_46,/node_37"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_40" output="screen">
		<param name="position" value="['98.689484154','46.1431362859','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_37,/node_41,/node_42,/node_44,/node_46"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_41" output="screen">
		<param name="position" value="['81.9808150768','45.0196678962','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_34,/node_37,/node_36,/node_40,/node_44,/node_45,/node_46"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_42" output="screen">
		<param name="position" value="['98.1537719176','51.3739536342','0']"/>
		<param name="neighbour_nodes_list" value="/node_40,/node_43,/node_44,/node_46,/node_37"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_43" output="screen">
		<param name="position" value="['92.2305128562','64.7569311703','0']"/>
		<param name="neighbour_nodes_list" value="/node_42,/node_45,/node_47"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_44" output="screen">
		<param name="position" value="['95.798970536','40.9907472909','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_34,/node_37,/node_40,/node_41,/node_42,/node_46"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_45" output="screen">
		<param name="position" value="['80.4128554518','54.6537635831','0']"/>
		<param name="neighbour_nodes_list" value="/node_41,/node_32,/node_43,/node_34,/node_37"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_46" output="screen">
		<param name="position" value="['96.6866287407','36.3720730565','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_38,/node_37,/node_40,/node_41,/node_42,/node_44"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_47" output="screen">
		<param name="position" value="['99.7615392722','72.3689193689','0']"/>
		<param name="neighbour_nodes_list" value="/node_43"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_48" output="screen">
		<param name="position" value="['96.4514995845','90.9719431965','0']"/>
		<param name="neighbour_nodes_list" value="/node_49"/>
	</node>
	<node pkg="k-sap_pkg" type="node.py" name="node_49" output="screen">
		<param name="position" value="['85.7589227574','93.1956796575','0']"/>
		<param name="neighbour_nodes_list" value="/node_48"/>
	</node>
</launch>