<launch>

	<node name="ar_pose" pkg="ar_pose" type="ar_multi" respawn="false" output="screen">
	    <remap from="/usb_cam/image_raw" to="/camera/rgb/image_color" />
		<remap from="/usb_cam/camera_info" to="/camera/rgb/camera_info" />
		
		<param name="marker_pattern_list" type="string" value="$(find pole_structure_mapper)/data/bothgrippers"/>
		<param name="threshold" type="int" value="100"/>
	</node>
	
</launch>
