<launch>
	<node pkg="saap_pkg" type="node.py" name="node_1" output="screen">
		<param name="position" value="['46.7055665342','67.7529097316','0']"/>
		<param name="neighbour_nodes_list" value="/node_5,/node_3,/node_9"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_2" output="screen">
		<param name="position" value="['49.348569869','80.1428351155','0']"/>
		<param name="neighbour_nodes_list" value="/node_8,/node_7,/node_5,/node_32,/node_46,/node_15"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_3" output="screen">
		<param name="position" value="['37.1203764808','66.6627976322','0']"/>
		<param name="neighbour_nodes_list" value="/node_18,/node_6,/node_1,/node_16,/node_30,/node_49,/node_29"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_4" output="screen">
		<param name="position" value="['40.1554061195','56.4005180994','0']"/>
		<param name="neighbour_nodes_list" value="/node_30,/node_23,/node_37,/node_47"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_5" output="screen">
		<param name="position" value="['48.032383806','75.7970110182','0']"/>
		<param name="neighbour_nodes_list" value="/node_8,/node_7,/node_15,/node_2,/node_1,/node_46"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_6" output="screen">
		<param name="position" value="['35.3606160367','68.0609797452','0']"/>
		<param name="neighbour_nodes_list" value="/node_49,/node_16,/node_29,/node_3,/node_18"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_7" output="screen">
		<param name="position" value="['50.4505363036','84.9218557668','0']"/>
		<param name="neighbour_nodes_list" value="/node_8,/node_5,/node_32,/node_2,/node_46,/node_15"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_8" output="screen">
		<param name="position" value="['50.5079947622','78.5922303296','0']"/>
		<param name="neighbour_nodes_list" value="/node_7,/node_5,/node_32,/node_2,/node_46,/node_15"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_9" output="screen">
		<param name="position" value="['51.6063572928','60.9912315353','0']"/>
		<param name="neighbour_nodes_list" value="/node_47,/node_34,/node_1,/node_10"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_10" output="screen">
		<param name="position" value="['57.7121211651','53.9015301662','0']"/>
		<param name="neighbour_nodes_list" value="/node_14,/node_13,/node_11,/node_9,/node_34"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_11" output="screen">
		<param name="position" value="['54.8400333334','47.7550987282','0']"/>
		<param name="neighbour_nodes_list" value="/node_14,/node_13,/node_34,/node_12,/node_23,/node_10"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_12" output="screen">
		<param name="position" value="['53.1715929565','42.8282634325','0']"/>
		<param name="neighbour_nodes_list" value="/node_57,/node_14,/node_13,/node_23,/node_11"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_13" output="screen">
		<param name="position" value="['58.0463561158','50.5629506467','0']"/>
		<param name="neighbour_nodes_list" value="/node_34,/node_14,/node_12,/node_11,/node_10"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_14" output="screen">
		<param name="position" value="['50.9933163598','48.4171746004','0']"/>
		<param name="neighbour_nodes_list" value="/node_13,/node_34,/node_11,/node_12,/node_23,/node_47,/node_10"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_15" output="screen">
		<param name="position" value="['53.2793059948','77.4127897753','0']"/>
		<param name="neighbour_nodes_list" value="/node_7,/node_5,/node_2,/node_8"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_16" output="screen">
		<param name="position" value="['27.2726737202','68.9031310258','0']"/>
		<param name="neighbour_nodes_list" value="/node_18,/node_17,/node_6,/node_3,/node_48,/node_49,/node_29"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_17" output="screen">
		<param name="position" value="['25.9436452065','74.4924141361','0']"/>
		<param name="neighbour_nodes_list" value="/node_41,/node_16,/node_48,/node_29,/node_18"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_18" output="screen">
		<param name="position" value="['29.8776468399','66.9774991388','0']"/>
		<param name="neighbour_nodes_list" value="/node_17,/node_6,/node_3,/node_16,/node_48,/node_49,/node_29"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_19" output="screen">
		<param name="position" value="['30.7383687014','85.3117122274','0']"/>
		<param name="neighbour_nodes_list" value="/node_33,/node_36,/node_41,/node_22,/node_20,/node_21"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_20" output="screen">
		<param name="position" value="['32.5918309923','83.3159315531','0']"/>
		<param name="neighbour_nodes_list" value="/node_22,/node_19,/node_36"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_21" output="screen">
		<param name="position" value="['29.2716686192','95.4220203586','0']"/>
		<param name="neighbour_nodes_list" value="/node_24,/node_33,/node_19"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_22" output="screen">
		<param name="position" value="['25.7505013254','85.4458031949','0']"/>
		<param name="neighbour_nodes_list" value="/node_19,/node_33,/node_26,/node_41,/node_24,/node_20,/node_28"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_23" output="screen">
		<param name="position" value="['47.2480263079','50.4809458768','0']"/>
		<param name="neighbour_nodes_list" value="/node_14,/node_4,/node_12,/node_37,/node_34,/node_11,/node_47"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_24" output="screen">
		<param name="position" value="['20.6935922803','90.2184231396','0']"/>
		<param name="neighbour_nodes_list" value="/node_33,/node_35,/node_26,/node_27,/node_22,/node_45,/node_21,/node_28"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_25" output="screen">
		<param name="position" value="['12.3542293911','81.33117382','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_41,/node_31,/node_26,/node_27,/node_42,/node_45,/node_28"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_26" output="screen">
		<param name="position" value="['16.5111460573','86.116285337','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_41,/node_31,/node_35,/node_27,/node_24,/node_25,/node_22,/node_45,/node_28"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_27" output="screen">
		<param name="position" value="['10.913517724','90.1610773448','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_38,/node_31,/node_35,/node_26,/node_24,/node_25,/node_44,/node_45,/node_40,/node_43,/node_28"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_28" output="screen">
		<param name="position" value="['19.6353912645','87.7431098045','0']"/>
		<param name="neighbour_nodes_list" value="/node_41,/node_31,/node_35,/node_26,/node_27,/node_24,/node_25,/node_22,/node_45"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_29" output="screen">
		<param name="position" value="['28.3138804844','65.6109463911','0']"/>
		<param name="neighbour_nodes_list" value="/node_18,/node_17,/node_6,/node_3,/node_16,/node_48,/node_49"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_30" output="screen">
		<param name="position" value="['37.4862695545','57.3342524629','0']"/>
		<param name="neighbour_nodes_list" value="/node_4,/node_3,/node_37,/node_47"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_31" output="screen">
		<param name="position" value="['11.3152677109','84.8262240887','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_26,/node_27,/node_42,/node_25,/node_45,/node_28"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_32" output="screen">
		<param name="position" value="['47.9888899051','86.2860713309','0']"/>
		<param name="neighbour_nodes_list" value="/node_7,/node_36,/node_2,/node_46,/node_8"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_33" output="screen">
		<param name="position" value="['29.8347767039','94.1554081031','0']"/>
		<param name="neighbour_nodes_list" value="/node_24,/node_22,/node_19,/node_21"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_34" output="screen">
		<param name="position" value="['52.9465463523','54.4519371548','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_14,/node_13,/node_11,/node_10,/node_23,/node_47"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_35" output="screen">
		<param name="position" value="['15.2846402314','95.1915507146','0']"/>
		<param name="neighbour_nodes_list" value="/node_26,/node_27,/node_24,/node_43,/node_44,/node_45,/node_28"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_36" output="screen">
		<param name="position" value="['39.0996364312','89.0513009045','0']"/>
		<param name="neighbour_nodes_list" value="/node_32,/node_20,/node_19,/node_46"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_37" output="screen">
		<param name="position" value="['41.4474129742','53.8659647665','0']"/>
		<param name="neighbour_nodes_list" value="/node_30,/node_4,/node_23,/node_47"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_38" output="screen">
		<param name="position" value="['3.0075908273','92.3745575298','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_40,/node_27,/node_43,/node_44,/node_45"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_39" output="screen">
		<param name="position" value="['7.82876384819','86.5233345151','0']"/>
		<param name="neighbour_nodes_list" value="/node_40,/node_38,/node_31,/node_26,/node_27,/node_42,/node_25,/node_44,/node_45"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_40" output="screen">
		<param name="position" value="['5.19461954044','93.2973602473','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_38,/node_27,/node_43,/node_44,/node_45"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_41" output="screen">
		<param name="position" value="['22.3522474345','79.6601843505','0']"/>
		<param name="neighbour_nodes_list" value="/node_19,/node_17,/node_26,/node_25,/node_22,/node_28"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_42" output="screen">
		<param name="position" value="['5.634515379','80.0754339664','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_39,/node_25"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_43" output="screen">
		<param name="position" value="['6.69862591716','97.8604304647','0']"/>
		<param name="neighbour_nodes_list" value="/node_40,/node_27,/node_44,/node_35,/node_38"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_44" output="screen">
		<param name="position" value="['11.1233025535','95.5878530314','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_38,/node_35,/node_40,/node_27,/node_43,/node_45"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_45" output="screen">
		<param name="position" value="['12.6477163696','89.0989835968','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_38,/node_31,/node_35,/node_26,/node_27,/node_24,/node_25,/node_44,/node_40,/node_28"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_46" output="screen">
		<param name="position" value="['44.3823684478','83.7490495761','0']"/>
		<param name="neighbour_nodes_list" value="/node_8,/node_7,/node_5,/node_32,/node_2,/node_36"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_47" output="screen">
		<param name="position" value="['44.1741665653','54.420538719','0']"/>
		<param name="neighbour_nodes_list" value="/node_14,/node_9,/node_30,/node_4,/node_34,/node_37,/node_23"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_48" output="screen">
		<param name="position" value="['23.305320696','66.0893324834','0']"/>
		<param name="neighbour_nodes_list" value="/node_17,/node_16,/node_29,/node_49,/node_18"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_49" output="screen">
		<param name="position" value="['28.8296676375','63.3923880524','0']"/>
		<param name="neighbour_nodes_list" value="/node_18,/node_6,/node_3,/node_16,/node_48,/node_29"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_50" output="screen">
		<param name="position" value="['49.1177265421','33.2897995045','0']"/>
		<param name="neighbour_nodes_list" value="/node_51,/node_57,/node_70,/node_55,/node_54"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_51" output="screen">
		<param name="position" value="['41.5693609062','28.2525613808','0']"/>
		<param name="neighbour_nodes_list" value="/node_53,/node_52,/node_50,/node_56,/node_54"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_52" output="screen">
		<param name="position" value="['37.6896767828','23.9785375657','0']"/>
		<param name="neighbour_nodes_list" value="/node_53,/node_51,/node_56,/node_54,/node_62,/node_59"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_53" output="screen">
		<param name="position" value="['37.7013120385','18.8454860171','0']"/>
		<param name="neighbour_nodes_list" value="/node_52,/node_51,/node_56,/node_62,/node_59,/node_58"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_54" output="screen">
		<param name="position" value="['41.6816300526','29.4355850341','0']"/>
		<param name="neighbour_nodes_list" value="/node_52,/node_51,/node_50,/node_56"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_55" output="screen">
		<param name="position" value="['52.5658821121','29.455307864','0']"/>
		<param name="neighbour_nodes_list" value="/node_63,/node_50,/node_57,/node_70"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_56" output="screen">
		<param name="position" value="['33.9375653382','24.3725651154','0']"/>
		<param name="neighbour_nodes_list" value="/node_53,/node_52,/node_51,/node_54,/node_62,/node_59"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_57" output="screen">
		<param name="position" value="['50.714560111','36.718523356','0']"/>
		<param name="neighbour_nodes_list" value="/node_50,/node_12,/node_55"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_58" output="screen">
		<param name="position" value="['37.0071732734','13.412407575','0']"/>
		<param name="neighbour_nodes_list" value="/node_53,/node_62,/node_59,/node_61"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_59" output="screen">
		<param name="position" value="['35.9176077033','17.9711327877','0']"/>
		<param name="neighbour_nodes_list" value="/node_61,/node_53,/node_52,/node_56,/node_62,/node_58"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_60" output="screen">
		<param name="position" value="['26.7098770425','11.9458081112','0']"/>
		<param name="neighbour_nodes_list" value="/node_62,/node_61,/node_87,/node_99"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_61" output="screen">
		<param name="position" value="['27.3072880816','15.2183260564','0']"/>
		<param name="neighbour_nodes_list" value="/node_62,/node_59,/node_58,/node_60"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_62" output="screen">
		<param name="position" value="['34.3762598051','14.822554516','0']"/>
		<param name="neighbour_nodes_list" value="/node_61,/node_53,/node_52,/node_56,/node_59,/node_58,/node_60"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_63" output="screen">
		<param name="position" value="['57.8758378052','22.2201797922','0']"/>
		<param name="neighbour_nodes_list" value="/node_72,/node_71,/node_64,/node_55,/node_70"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_64" output="screen">
		<param name="position" value="['65.0561258378','16.4813393336','0']"/>
		<param name="neighbour_nodes_list" value="/node_63,/node_71,/node_81,/node_72"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_65" output="screen">
		<param name="position" value="['73.0739104784','26.2413580442','0']"/>
		<param name="neighbour_nodes_list" value="/node_85,/node_71,/node_67"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_66" output="screen">
		<param name="position" value="['77.3244095131','37.2518951301','0']"/>
		<param name="neighbour_nodes_list" value="/node_68,/node_88,/node_95,/node_73"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_67" output="screen">
		<param name="position" value="['79.2392433701','25.6636588787','0']"/>
		<param name="neighbour_nodes_list" value="/node_85,/node_68,/node_69,/node_65"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_68" output="screen">
		<param name="position" value="['84.4901851021','32.6990998707','0']"/>
		<param name="neighbour_nodes_list" value="/node_84,/node_69,/node_66,/node_67"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_69" output="screen">
		<param name="position" value="['82.689462602','22.741989866','0']"/>
		<param name="neighbour_nodes_list" value="/node_85,/node_68,/node_79,/node_67"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_70" output="screen">
		<param name="position" value="['54.3682276528','25.4060287617','0']"/>
		<param name="neighbour_nodes_list" value="/node_63,/node_50,/node_71,/node_55"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_71" output="screen">
		<param name="position" value="['63.543859095','23.9347689677','0']"/>
		<param name="neighbour_nodes_list" value="/node_63,/node_72,/node_70,/node_64,/node_65"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_72" output="screen">
		<param name="position" value="['61.6631172338','17.5681615926','0']"/>
		<param name="neighbour_nodes_list" value="/node_63,/node_71,/node_81,/node_64"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_73" output="screen">
		<param name="position" value="['84.5425488359','43.8491912393','0']"/>
		<param name="neighbour_nodes_list" value="/node_88,/node_95,/node_66"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_74" output="screen">
		<param name="position" value="['94.495772889','38.0391307142','0']"/>
		<param name="neighbour_nodes_list" value="/node_84"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_75" output="screen">
		<param name="position" value="['96.1555949623','26.0754062893','0']"/>
		<param name="neighbour_nodes_list" value="/node_84,/node_76,/node_79"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_76" output="screen">
		<param name="position" value="['92.749281445','26.5564351844','0']"/>
		<param name="neighbour_nodes_list" value="/node_75,/node_84,/node_79"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_77" output="screen">
		<param name="position" value="['98.6874617825','14.0354215657','0']"/>
		<param name="neighbour_nodes_list" value="/"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_78" output="screen">
		<param name="position" value="['86.5377476167','12.6109670315','0']"/>
		<param name="neighbour_nodes_list" value="/node_85,/node_86,/node_80,/node_82,/node_83,/node_79"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_79" output="screen">
		<param name="position" value="['88.7940073746','19.2944591541','0']"/>
		<param name="neighbour_nodes_list" value="/node_75,/node_69,/node_78,/node_76"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_80" output="screen">
		<param name="position" value="['80.7091349431','11.2709563601','0']"/>
		<param name="neighbour_nodes_list" value="/node_85,/node_86,/node_78,/node_83"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_81" output="screen">
		<param name="position" value="['68.4794806429','12.4446371653','0']"/>
		<param name="neighbour_nodes_list" value="/node_64,/node_72"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_82" output="screen">
		<param name="position" value="['91.5401236957','6.68898570844','0']"/>
		<param name="neighbour_nodes_list" value="/node_86,/node_78,/node_83"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_83" output="screen">
		<param name="position" value="['83.7510004591','10.2941712072','0']"/>
		<param name="neighbour_nodes_list" value="/node_85,/node_86,/node_80,/node_78,/node_82"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_84" output="screen">
		<param name="position" value="['88.7097848104','31.9785516137','0']"/>
		<param name="neighbour_nodes_list" value="/node_75,/node_74,/node_68,/node_76"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_85" output="screen">
		<param name="position" value="['77.6913108003','17.7425585671','0']"/>
		<param name="neighbour_nodes_list" value="/node_69,/node_80,/node_78,/node_83,/node_67,/node_65"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_86" output="screen">
		<param name="position" value="['81.8003563414','8.16820790724','0']"/>
		<param name="neighbour_nodes_list" value="/node_80,/node_78,/node_82,/node_83"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_87" output="screen">
		<param name="position" value="['31.1356203249','3.55774071088','0']"/>
		<param name="neighbour_nodes_list" value="/node_60,/node_99"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_88" output="screen">
		<param name="position" value="['83.3815541983','44.5126292406','0']"/>
		<param name="neighbour_nodes_list" value="/node_95,/node_66,/node_73"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_89" output="screen">
		<param name="position" value="['91.4407063005','53.5442918328','0']"/>
		<param name="neighbour_nodes_list" value="/node_96"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_90" output="screen">
		<param name="position" value="['84.8249196364','63.3267592563','0']"/>
		<param name="neighbour_nodes_list" value="/node_96,/node_92"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_91" output="screen">
		<param name="position" value="['76.7352984302','54.748724335','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_95,/node_94,/node_93,/node_92,/node_98"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_92" output="screen">
		<param name="position" value="['81.581949128','63.5088935519','0']"/>
		<param name="neighbour_nodes_list" value="/node_96,/node_98,/node_93,/node_91,/node_90"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_93" output="screen">
		<param name="position" value="['73.7979455274','60.1414526092','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_94,/node_92,/node_91,/node_98"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_94" output="screen">
		<param name="position" value="['73.5937406662','54.596671773','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_93,/node_91,/node_98"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_95" output="screen">
		<param name="position" value="['80.4074745059','46.4896790728','0']"/>
		<param name="neighbour_nodes_list" value="/node_66,/node_97,/node_91,/node_88,/node_73,/node_98"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_96" output="screen">
		<param name="position" value="['86.7333758617','59.852109523','0']"/>
		<param name="neighbour_nodes_list" value="/node_98,/node_92,/node_89,/node_90"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_97" output="screen">
		<param name="position" value="['71.1041946886','50.5165250959','0']"/>
		<param name="neighbour_nodes_list" value="/node_95,/node_94,/node_93,/node_91,/node_98"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_98" output="screen">
		<param name="position" value="['79.4462452444','54.5219202842','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_96,/node_95,/node_94,/node_93,/node_92,/node_91"/>
	</node>
	<node pkg="saap_pkg" type="node.py" name="node_99" output="screen">
		<param name="position" value="['25.2914538887','5.10187615734','0']"/>
		<param name="neighbour_nodes_list" value="/node_60,/node_87"/>
	</node>
</launch>