<?xml version="1.0"?>

<robot name="mondego_river">
        
	<!-- world axis -->
	<link name="world">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<box size="0.001 0.001 0.001" />
			</geometry>
		</visual>
	</link>

	<!-- mondego river -->
	<link name="mondego">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<box size="346.0 346.0 0.0" />
			</geometry>

			<material name="mondego">
				<texture filename="package://squirtle_description/meshes/backgrounds/mondego.png" /> 
			</material>
		</visual>
	</link>

	<joint name="world_mondego_joint" type="fixed">
		<parent link="world"/>
		<child link="mondego" />
		<origin xyz="548811.454358155 4450122.57607714 0" rpy="0 0 1.57" />
	</joint>
	
	<!-- bridge -->
	<link name="bridge">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://squirtle_description/meshes/bridge.dae"/>
			</geometry>
		</visual>
	</link>

	<joint name="mondego_bridge_joint" type="fixed">
		<parent link="mondego"/>
		<child link="bridge" />
		<origin xyz="70 15 5" rpy="0 0 1.66" />
	</joint>
	
</robot>
