<launch>
  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" output="screen">
    <param name="frame_id" value="base_laser" />
  </node>

  <node pkg="irobot" type="roomba500_node" name="roomba500_node" output="screen">
  </node>

  <node pkg="roomba_setup_tf" type="tf_broadcaster" name="tf_broadcaster" output="screen">
  </node>
</launch>

