<?xml version="1.0"?>
<launch>
  <node pkg="mrl_robots_drivers" type="stingbot_node" name="stingbot_node" args="/dev/ttyACM0" output="screen">
  </node>

  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" output="screen">
    <param name="port" value="/dev/ttyACM1" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.085 0.0 0.06 0.0 0.0 0.0 1.0 /base_link /laser 100" />

</launch>
